*{margin: 0; padding: 0;}
.slider{
			width: 1136px;
			margin: 30px auto 20px;
}
.slider .slick-slide> div{
	margin: 10px;
}
.slider .slick-slide div img{
	display: block;
	width: 100%;
}

/* 시작 이미지 꾸미기 */
.slider .slick-current> div{
	margin: 10px 10px;
	transition: all 1s;
}

/*이동버튼 꾸미기*/
.slick-next:before, .slick-prev:before{
	content: '';
}
.slick-prev, .slick-next{
	width: 35px;
	height:41px;
}
.slick-prev{
	background:url(../images/slidebutton1.png) no-repeat;
	left:-50px;
}
.slick-prev:hover{
	background:url(../images/slidebutton1-ho.png) no-repeat;
}
.slick-next{
	background:url(../images/slidebutton2.png) no-repeat;
	right:-50px;
}
.slick-next:hover{
	background:url(../images/slidebutton2-ho.png) no-repeat;
}



